* {box-sizing: border-box;
}

body {font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
}

.menu {list-style: none; border: 5px solid rgb(249, 249, 249); font-size: 20px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; float: left; padding: 0; margin: 0;}

.menu li {position: relative; background-color: rgb(249, 249, 249);float: left; border-right: 1px solid rgb(249, 249, 249);}

.menu li a {color: #333; text-decoration: none; padding: 20px 95px; display: block;}

.menu li a:hover {background-color: #333; color: #ffffff;}

nav {
    float: left; width: 100%; background: rgb(249, 249, 249); padding: 0px; border: 1px solid rgb(190, 190, 190); border-top-color: rgb(249, 249, 249);
}

nav ul {list-style-type: none; padding: 0;  
}

nav form {
    padding: 25px;
    text-align: right;
}

section {
  background-color: rgb(255, 255, 255);
  height: 1500px;
  
}

article {
  padding-bottom: 20px;
}

h1 {
  padding-top: 80px;
  font-size: 3rem; 
  color: #333; 
  text-align: center; 
  text-transform: uppercase; 
  letter-spacing: 0.1em; 
  margin-bottom: 4rem;
  text-decoration: underline; 
}

.alinha{font-size: 0;} 

.noticia {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  background-color: #f3f3f3;
}

.titulo-noticia {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.data-noticia {
  font-style: italic;
  color: #999;
  margin-bottom: 10px;
}

.texto-noticia {
  line-height: 1.5;
}